* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 100px;
}

p {
    width: 500px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.para-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-sub,
ul,
li {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

ul {
    display: flex;
    width: 500px;
    gap: 10px;
}

li {
    list-style-type: none;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #e5e7eb;
    height: 30px;
    width: 100px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.list-img {
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

img {
    position: relative;
    right: 100px;
    top: 10px;
    width: 500px;
    height: 250px;
}

/* --------------------------------------------------------------------------------------------------------------0 */

.section-01 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.box-container {
    display: flex;
    gap: 50px;
}

.s-heading {
    font-size: 36px;
    font-weight: bolder;
}

.illust-01,
.illust-02,
.illust-03,
.illust-04 {
    border: 4px solid #3882F6;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

/* -------------------------------------------------------------------------------------testimonial----------------------- */

.t-txt {
    width: 905px;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.author {
    position: relative;
    left: 400px;
    font-size: 30px;
    font-weight: bolder;
}

.testimonial {
    background-color: #E5E7Eb;
    margin-top: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----------------------------------------------------------------call section-------------------------------------------------- */

.call {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 100px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.hero-call {
    color: #E5E7EB;
    font-size: 26px;
    font-weight: bold;
}

.hero-sub {
    color: #E5E7EB;
    font-size: 18px;
    width: 500px;
    font-weight: lighter;
}

.call-button {
    font-size: 18px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    color: #e5e7eb;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

/* -----------------------------------------------------------------------------footer------------------------------------------------------- */

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 20px;
    padding: 30px;
}

.footer-text {
    display: flex;
    justify-content: center;
}